<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="bg-gray-50">
    <!-- Header/Navbar -->
    <%- include("../partials/header") %>

    <!-- hero section -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <section class="pt-24 md:pt-28 pb-8 md:pb-5 px-4">
      <div class="container mx-auto max-w-6xl">
        <div class="grid md:grid-cols-1 gap-8 items-center">
          <div class="space-y-6">
            <h1
              class="text-4xl text-[#155dfc] md:text-5xl lg:text-6xl font-bold text-center"
            >
              Welcome to
              <span class="text-green-700"><%= home.houseName %> </span>page
            </h1>
          </div>
          <div class="hidden md:block"></div>
        </div>
      </div>
    </section>

    <!-- home detail  -->
    <div
      class="bg-white rounded-2xl shadow-lg p-8 w-full max-w-5xl mx-auto mb-[50px]"
    >
      <!-- Heading -->
      <h2 class="text-center text-2xl font-semibold text-red-600 mb-8">
        Details of <span class="text-green-700"><%= home.houseName %> </span>
      </h2>

      <!-- Content Grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- Left: Image -->
        <div>
          <img
            src="/images/heroSection.webp"
            alt="<%= home.homeName %>"
            class="w-full h-80 object-cover rounded-xl shadow-md"
          />
        </div>

        <!-- Right: Details -->
        <div class="flex flex-col justify-center space-y-6 text-gray-700">
          <div>
            <h3 class="font-semibold text-gray-900">Description</h3>
          </div>

          <div class="border-t pt-4">
            <h3 class="font-semibold text-gray-900">Location</h3>
            <p class="text-sm mt-1"><%= home.location %></p>
          </div>

          <div class="border-t pt-4">
            <h3 class="font-semibold text-gray-900">Price</h3>
            <p class="text-sm mt-1 text-green-600 font-medium">
              ₹<%= home.price.toLocaleString() %> / night
            </p>
          </div>

          <div class="border-t pt-4 flex items-center space-x-2">
            <h3 class="font-semibold text-gray-900">Rating</h3>
            <div class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
                class="w-5 h-5 text-yellow-400"
              >
                <path
                  d="M12 .587l3.668 7.431L24 9.748l-6 5.848L19.335 24 12 19.897 4.665 24 6 15.596 0 9.748l8.332-1.73z"
                />
              </svg>
              <span class="ml-1"><%= home.rating %> / 5</span>
            </div>
          </div>
          <%- include("../partials/favourite") %>
        </div>
      </div>
    </div>
  </body>
</html>
