<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="bg-gray-50">
    <!-- Header/Navbar -->
    <%- include("../partials/header") %>

    <!-- Hero Section -->
    <section class="pt-24 md:pt-32 pb-16 md:pb-24 px-4">
      <div class="container mx-auto max-w-6xl">
        <div class="grid md:grid-cols-1 gap-8 items-center">
          <div class="space-y-6">
            <h1
              class="text-2xl text-[#155dfc] md:text-5xl lg:text-6xl font-bold text-center"
            >
              Here are our host homes list :
            </h1>
          </div>
        </div>
      </div>
    </section>

    <!-- homes cards -->
    <section class="mb-[50px]">
      <div class="flex flex-wrap justify-center gap-8 max-w-6xl w-full mx-auto">
        <% homeDetails.forEach((element)=>{ %>
        <div
          class="w-full sm:w-[45%] lg:w-[30%] bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300"
        >
          <img src="/images/heroSection.webp" " alt="Home Photo" class="h-56
          w-full object-cover" />
          <div class="p-5 space-y-2">
            <h2 class="text-2xl font-semibold text-gray-800">
              <%= element.houseName %>
            </h2>
            <p class="text-gray-500 text-sm">📍<%= element.location %></p>
            <div class="flex items-center justify-between pt-2">
              <p class="text-indigo-600 font-semibold text-lg">
                ₹<%= element.price %>
                <span class="text-gray-500 text-sm">/night</span>
              </p>
              <p
                class="bg-yellow-400 text-white text-sm px-2 py-1 rounded-md font-medium"
              >
                ⭐ <%= element.rating %>
              </p>
            </div>
            <a
              href="/host-edit-home/<%= element.id %>?editing=true"
              class="bg-green-600 hover:bg-green-700 active:scale-95 text-white font-semibold py-2 px-8 rounded-lg shadow-md transition transform focus:outline-none mt-3 focus:ring-2 focus:ring-indigo-300"
            >
              Edit
            </a>
            <form action="/host-deleteHome/<%= element.id %>" method="POST">
              <button
                type="submit"
                class="bg-red-600 hover:bg-red-700 active:scale-95 text-white font-semibold py-2 px-8 rounded-lg shadow-md transition transform focus:outline-none mt-3 focus:ring-2 focus:ring-indigo-300"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
  </body>
</html>
